<h1>Admin Dashboard</h1>
<div><h3>You have <%= @products %> products in your store</h3></div> <%= link_to "Products", root_path, class: 'btn btn-lg btn-primary' %>
<div><h3>You have <%= @categories %> categories for your products</h3></div>
