<section class="about">

  <header class="page-header">
    <h1>
      About Us
    </h1>
  </header>
  <div>
    <h3>Jungle is a vast internet-based enterprise that sells various different items from all over the world.</h3>
    <p>We are a family owned company established in 1972 based in Vancouver, BC. We started our business from a small store right at the intersection of Main St. and Hastings on the downtown eastside. In 2020, the physical store was forced to close down due to the economic impact of the pandemic. Since then, we have transferred our business online to continually serve our local customers.</p>
    </div>

</section>